body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #FF8484;
    flex-direction: row; 
    flex-wrap: wrap; 
}

body, div, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#chessboard {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    width: 72vh; 
    height: 72vh; 
    border-radius: 15px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4); 
    overflow: hidden; /* To ensure the inner squares don't spill over the rounded corners */
    
}

#chessboard-empty {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 0;
    width: 72vh; 
    height: 72vh; 
    border-radius: 15px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4); 
    overflow: hidden; /* To ensure the inner squares don't spill over the rounded corners */
    z-index: -20;
    
}

button.promotion-button, .square, .square-fake {
    width: 100%;
    height: 100%;
    min-width: 9vh;
    min-height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
}

button.promotion-button {
    border: 0;
    background: none;
}

button.light, .square.light, .square-fake.light {
    background-color: #4DCCBD;
}

button.dark, .square.dark,  .square-fake.dark {
    background-color: #2374AB;
}

.square.light.highlight {
    background-color: #FFC914; /
}

.square.dark.highlight {
    background-color: #EF8354; 
}

.piece {
    position: absolute; 
    width: 7vh;
    height: 7vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
    cursor: pointer;
}

.piece.white {
    filter: invert(100%) sepia(7%) saturate(5765%) hue-rotate(69deg) brightness(99%) contrast(122%) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.3));
}

.piece.black {
    filter: invert(10%) sepia(21%) saturate(6820%) hue-rotate(241deg) brightness(89%) contrast(101%) drop-shadow(0 1px 5px rgba(0, 0, 0, 0.3));
}

.placeholder {
    visibility: hidden;
    width: 7vh;
    height: 7vh;
}

.invisible {
    visibility: hidden;
}

.promotion-popup {
    position: relative;  
    left: 45vh;
    background: linear-gradient(to bottom, #4DCCBD, #2374AB);
    padding: 1vh;
    border-radius: 15px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4); 
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.promotion-popup button {
    margin: 10px 0;
}

#turn-display {
    width: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;  
    font-size: 3vh;  
    font-family: 'Raleway', sans-serif;
    top: 3vh;
    color: #D6FFF6;  
    font-weight: lighter;
    z-index: 10;
    user-select: none;
    padding: 1vh;
    border-radius: 10px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); 
    background: linear-gradient( #4DCCBD, #2374AB);
}

#info-display {
    width: auto;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;  
    font-size: 3vh; 
    font-family: 'Raleway', sans-serif;
    bottom: 3vh;
    color: #D6FFF6;  
    font-weight: lighter;
    z-index: 10;
    user-select: none;
    padding: 1vh;
    border-radius: 10px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); 
    background: linear-gradient( #4DCCBD, #2374AB);
}

#generate-puzzle {
    width:35vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;  
    font-size: 3vh;  
    font-family: 'Raleway', sans-serif;
    color: #D6FFF6;  
    font-weight: lighter;
    top: 14vh;
    left: 6vh;
    z-index: 10;
    user-select: none;
    padding: 1vh;
    border: #2374AB;
    border-radius: 10px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    background: linear-gradient( #4DCCBD, #2374AB);
}

#generate-puzzle:hover, #generate-hint:hover, #reset-score:hover {
    background: linear-gradient( #86fff1, #5fbfff);
    color: #231651;
}

#generate-hint {
    width:35vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;  
    font-size: 3vh;  
    font-family: 'Raleway', sans-serif;
    color: #D6FFF6;  
    font-weight: lighter;
    top: 21vh;
    left: 6vh;
    z-index: 10;
    user-select: none;
    padding: 1vh;
    border: #2374AB;
    border-radius: 10px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); 
    background: linear-gradient( #4DCCBD, #2374AB);
}

#reset-score {
    width:35vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;  
    font-size: 3vh;  
    font-family: 'Raleway', sans-serif;
    color: #D6FFF6;  
    font-weight: lighter;
    top: 28vh;
    left: 6vh;
    z-index: 10;
    user-select: none;
    padding: 1vh;
    border: #2374AB;
    border-radius: 10px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); 
    background: linear-gradient( #4DCCBD, #2374AB);
}

#score {
    width:35vh;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 5vh;  
    font-size: 4vh;  
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #231651;  
    top:5vh;
    left: 6vh;
    z-index: 10;
    user-select: none;
    padding: 1vh;
    border-radius: 10px; 
    background: none;
}

.modal {
    opacity: 0;
    transition: opacity 1s; 
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 20;
    user-select: none;
}

.modal-content {
    position: relative;
    top: 42vh;
    color: #D6FFF6;  
    background: linear-gradient( #4DCCBD, #2374AB);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    font-size: 3vh;  
    font-family: 'Raleway', sans-serif;
    width: 80%;
    border-radius: 10px; 
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3); 
    user-select: none;
}

.sparkles {
    background: url('./sparkle.gif') no-repeat center center;
    background-size: 100%;
    width: 10vh;
    height: 10vh;  
    position: absolute;
    display: none;
    filter: brightness(0) saturate(100%) invert(88%) sepia(48%) saturate(152%) hue-rotate(87deg) brightness(104%) contrast(105%);
    user-select: none;
}

#sparkles-left {
  margin-left: 50vh;
  margin-bottom: 83vh;
}

#sparkles-right {
    margin-right: 50vh;
    margin-bottom: 83vh;
    transform: scaleX(-1);
}